<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${titulo}">Listado de Alumnos</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>nombre</th>
    <th>apellido</th>
    <th>edad</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="alumno : ${alumnos}">
    <td th:text="${alumno.id}"></td>
    <td th:text="${alumno.nombre}"></td>
    <td th:text="${alumno.apellido}"></td>
    <td th:text="${alumno.edad}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>